<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS Basic</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>

    <div style="padding-left:16px">
        <h2>List Users:</h2>
        <table id="customers">
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Actions</th>
            </tr>
            <% for (let i=0; i<data.length; i++) { %>
                <tr>
                    <td>
                        <%= data[i].id %>
                    </td>
                    <td>
                        <%= data[i].firstName %>
                    </td>
                    <td>
                        <%= data[i].lastName %>
                    </td>
                    <td>
                        <button type="button"><a href="/detail/user/<%= data[i].id %>">Detail</a></button>
                        <form action="/update/user/<%= data[i].id %>" method="GET">
                            <button type="submit">Edit</button>
                        </form>
                        <form action="/delete-user" method="POST">
                            <input type="text" hidden value="<%= data[i].id %>" name="id">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                <% } %>
        </table>
        <form action="/create-new-user" class="create-users" method="post">
            <h4>Create new user</h4>
            <div>
                <label for="firstName">Enter your first name:</label>
                <input type="text" name="firstName" id="firstName">
            </div>
            <div>
                <label for="lastName">Enter your last name:</label>
                <input type="text" name="lastName" id="lastName">
            </div>
            <div>
                <label for="address">Enter your address:</label>
                <input type="text" name="address" id="address">
            </div>
            <div>
                <label for="email">Enter your email:</label>
                <input type="email" name="email" id="email">
            </div>
            <button type="submit" class="btn-submit">Submit</button>
        </form>
    </div>
</body>

</html>