<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <form action="/update-user" class="create-users" method="post">
        <h4>Edit user</h4>
        <div>
            <label for="firstName">First name:</label>
            <input type="text" name="firstName" id="firstName" value="<%= data.firstName %>">
        </div>
        <div>
            <label for="lastName">Last name:</label>
            <input type="text" name="lastName" id="lastName" value="<%= data.lastName %>">
        </div>
        <div>
            <label for=" address">Address:</label>
            <input type="text" name="address" id="address" value="<%= data.address %>">
        </div>
        <div>
            <label for=" email">Email:</label>
            <input type="email" name="email" id="email" value="<%= data.email %>">
        </div>
        <input type="text" name="id" id="" hidden value="<%= data.id %>">
        <button type=" submit" class="btn-submit">Submit</button>
    </form>
</body>

</html>